apiVersion: v1
kind: Namespace
metadata:
  name: {{ k3s_provisioning_certmanager_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: {{ k3s_provisioning_certmanager_namespace }}
type: Opaque
stringData:
  token: {{ k3s_provisioning_cloudflare_api_token }}
