apiVersion: v1
kind: Secret
metadata:
  name: flux-github
  namespace: flux-system
type: Opaque
stringData:
  githubAppID: "{{ k3s_provisioning_flux_github_app_id }}"
  githubAppInstallationID: "{{ k3s_provisioning_flux_github_app_installation_id }}"
  githubAppPrivateKey: |
    {{ k3s_provisioning_flux_github_app_private_key }}
