apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "1h"
    fluxcd.controlplane.io/reconcileTimeout: "10m"
spec:
  distribution:
    version: "2.8.x"
    registry: "ghcr.io/fluxcd"
    artifact: "oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests"
  components:
    - source-controller
    - source-watcher
    - kustomize-controller
    - helm-controller
    - notification-controller
    - image-reflector-controller
    - image-automation-controller
  cluster:
    type: kubernetes
    size: small
    multitenant: false
    networkPolicy: true
    domain: "cluster.local"
  storage:
    class: local-path # Default storage class in K3s
    size: 10Gi
  sync:
    kind: GitRepository
    provider: github
    url: "{{ k3s_provisioning_flux_git_repository }}"
    ref: "{{ k3s_provisioning_flux_git_ref }}"
    path: "{{ k3s_provisioning_flux_git_path }}"
    pullSecret: flux-github
